*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rasmlar {
    width: 70%;
    height: 100vh;
    position: relative;
}

.card {
    width: 650px;
    height: fit-content;
    overflow: hidden;
}

.card1 {
    position: absolute;
    top: 100px;
    left: 220px;
    transform: translate(-50%, -50%);
}

.card2 {
    position: absolute;
    left: 220px;
    bottom: -325px;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.card3 {
    position: absolute;
    top: 250px;
    right: -420px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.card4 {
    position: absolute;
    right: -420px;
    bottom: -0px;
    transform: translate(-50%);
    overflow: hidden;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
    height: 10%;
    text-align: center;
    position: absolute;
    bottom: 50px;
    top: 45%;
    color: white;
    background-color: palevioletred;
    left: 49.7%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
}