body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    font-family: "Poppins", sans-serif;
    background-color: hsl(126, 25%, 60%) ;
}
#box{
    width: 700px;
    height: 50vh;
    box-shadow: 0px 20px 30px black;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
h1{
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
h2{
    font-size: 22px;
    font-weight: 700;
    opacity: 70%;
}
input{
    width: 300px;
    height: 5vh;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 10px black;
    text-align: center;
}
input:hover{
    scale: 1.02;
}
button{
    width: 150px;
    height: 6vh;
    border-radius: 7px;
    border: none;
    background-color: hsl(240, 100%, 40%);
    color: white;
    font-size: 18px;
    font-weight: 700;
}
button:active{
    background-color: hsl(240, 100%, 80%);
    color: whitesmoke;
}
p{
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    scale: 1.05;
    box-shadow: 0 0 5px hsl(240, 100%, 40%);
}