*, html{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    color: #252529;
    font-family: Arial, Helvetica, sans-serif;
    display:flex ;
    flex-direction: row;
    gap: 0px;
}

.karta{
    margin: 30px;
    width: 300px;
    height: 100px;
    text-align: center;
}
.top{
    height: 160px;
    background-color: rgb(96, 51, 243);
    color: white;   
    text-align: center;
    margin: 0px;
    padding: 10px;
}
button{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: azure;
    margin: 10px;
}
.down section{
    border: 10px solid rgb(150, 139, 139);
    padding: 12px;
}
h1{
    font-size: 42px;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 60px;
    margin: 15px auto 0;
    margin-top: 12%;
    text-align: center;
}

#nom{
    font-size:large;
    padding-top: 20px ;
}
h3{
    font-size: medium;
}
h4{
    font-size: x-small;
}
/* karta 2 */
.night-mode{
    margin: 30px;
    width: 300px;
    height: 100px;
    text-align: center;
}
.down-night{
    color: #e0e0e0;
    background-color:  #1F2936;
    padding: 10px;
}
.down-night section {
  border: 1px solid #333;
  border-radius: 1px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 1px;
  padding: 12px;
  margin: 10px 0;
  background-color: #273548;
}