*, html{
    margin: 0;
    padding: 0;
}

.box{
    width: 150px;
    height: 225px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
}
.box img{
    width: 95%;
    height: 45%;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
.box button{
    background-color: orange;
    border: none;
    border-radius: 7px;
    margin-top: 7px;
    padding: 7px 10px;
    color: white;
}