*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    background-color: wheat;
}
.container{
    border:  2px solid plum;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto; 
    gap: 10px 10px;   
}
.item{
    display: grid;  
    font-size: clamp(20px, 3.5vw, 65px);
    border: 2px solid darkred;
    justify-content: center;
    align-items: center;
}
@media (max-width:900px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px){
    .container{
        grid-template-columns: 1fr;
    }
}