
:root{
    --bgCl: #ffffff;
    --iconCl:#565555;
    --font:sans-serif;
    --aCl:rgb(41, 41, 199);
    --a-hover: rgb(87, 14, 14);
    --duckBg:rgb(255, 153, 0);
}
[data-theme="dark"]{
    --bgCl: #18191a;
    --iconCl:#e4e6eb;
    --font:sans-serif;
    --duckBg:rgb(0, 0, 0);
    --a-hover: rgb(17, 203, 224) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--bgCl) ;
    height: 100vh;
    font-family: var(--font);
}
#icons{
    display: flex;
    gap: 20px;
}


header {
    position: absolute;
    top: 50px;
    right: 200px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 20px;
    color:var(--iconCl) ;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

#logo img {
    width: 250px;
    height: fit-content;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: transparent;
    overflow: hidden;

}

section #input {
    width: 40rem;
    height: 2.4rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bgCl)  ;
    outline: 2px solid gray;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
#input i {
    padding-left: 95%;
}
p{
    color: var(--iconCl);
    margin: 20px 0px;
}
a{
    text-decoration: none;
    color: var(--aCl);
}
a:hover{
    text-decoration: underline;
        text-shadow: 1px 2px 20px var(--a-hover);
}
h1{
    font-size: 36px;
    font-family: var(--font) ;
    color: var(--iconCl);
}