/* div{
    width: 200px;
    height: 200px;
    background-color: ;
} */
/* .orovchi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    height: 500px;
} */
/* a{
    text-decoration: none;
    color: black;
 }
header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
 }
.logo{
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
 }
 
 button{
    background-color: orange;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
 } */
  /* a{
    text-decoration: none;
    color: white;
    margin: 9px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-left: -7px;
    background-color: lime;
    height: 100px;
    width:101%;
  }
  .logo{
    font-size: xx-large;
    font-style: italic;
    font-family: cursive;
    margin-left: 30px;
  }
  button{
    background-color: rgb(211, 250, 55);
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 40px;
    margin: 10px;
  } */