body{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}
#header{
    background-color: hsl(200, 100%, 40%);
    color: white;
    text-align: center;
    padding: 30px;
    line-height: 40px;
    box-shadow: 0 0 20px gray ;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 32px;
}
h3{
    margin: 0;
    padding: 0;
    font-weight: 400;    
    font-size: 16px;
}
p{
    font-size: 24;
    color: black;
    font-weight: 700;
}
h2{
    color: hsl(200, 100%, 30%);
}
#asosiy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: hsl(180, 100%, 93%);
}
.box{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 850px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}
.box:hover{
    scale: 1.03;
}
button{
    margin-top: 20px;
    background-color:hsl(200, 100%, 40%) ;
    color: white;
    width: 120px;
    height: 5vh;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
button:active {
  background-color: #c3cfe9;
  color: black;
}

.inputs{
    display: block;
}
input{
    width: 380px;
    height: 4vh;
    border: none;
    border:1.3px solid hsl(200, 100%, 35%);
    border-radius: 8px;
    font-size: 16px;
}
.box4 input{
 width: 270px;
}
.boxFull input{
    width: 100%;
}