/* 
    Joylashtirish (display):
    1. Static
    2. Relative
    3. Absolute
    4. Fixed
    5. Sticky
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid #333;
    margin-bottom: 20px;
    text-align: center;
    line-height: 150px;
    font-weight: bold;
}

.static{
    position: static;
}

.relative{
    position: relative;
    background-color: lightgreen;
    top: 100px;
    left: 150px;
}

.container{
    position: relative;
    border: 2px dashed red;
    height: 250px;
    margin-bottom: 20px;
}

.absolute{
    position:absolute;
    top: 50px;
    right: 20px;
    background-color: orange;
}
