/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{
    font-size: 40px;
    text-align: center;
}
section{
    width: 450px;
    box-shadow: 5px 2px 20px black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
button{
    padding: 5px 15px;
    background-color: black;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    margin: 0 30px;
    cursor: pointer;
} */