    body {
        font-family: "Source Sans 3", sans-serif;
        margin: 0 auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 90px;
        background-color: #fff;
        position: sticky;
        top: 0;
    }

    .anim {

        animation-duration: 3s;
        animation-name: spin;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }

    @keyframes spin {
        0% {}

        50% {
            scale: 1.1;
            transform: skew(0);

        }

        100% {
            transform: skew(3rem);
        }
    }

    .menu {
        display: none;
    }

    .header img {
        height: 40px;
    }

    nav ul {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    nav a {
        text-decoration: none;
        color: #000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;

    }

    nav li {
        list-style: none;
    }

    #resume {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #resume img {
        height: 16px;
        width: 16px;
    }

    .asosiy {
        display: flex;
        flex-direction: column;
        width: 700px;
        padding-left: 0;
    }

    .asosiy h1 {
        font-size: 48px;
        font-weight: 400;
        line-height: 24px;
    }

    .bold {
        font-weight: 900
    }

    .asosiy p {
        color: rgba(113, 113, 122, 1);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
    }

    .asosiy>img {
        padding: 0;
        margin: 0;
    }

    .box1 {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 60px 80px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-top: 100px;
    }

    button:hover {
        background-color: rgb(22, 144, 232);
        transition: transform 0.5 ease;
        transform: scale(1.3);
    }

    .reddit:hover {
        background-color: #fff;
    }

    .x:hover {
        background-color: rgb(0, 149, 255);
    }

    .discord:hover {
        background-color: #5865F2;
    }

    .btn:active {
        background-color: rgb(225, 76, 76);
        color: black;
    }


    .btn {
        width: 56px;
        height: 56px;
        border: 3px solid black;
        border-radius: 4px;
        background-color: #fff;
    }

    .black {
        background-color: #000;
    }

    .outline {
        font-weight: bolder;
        color: rgba(0, 0, 0, 0);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1.2px black;
        letter-spacing: 2px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    .box2 {
        background-color: #fff;
    }

    .box2 h1 {
        font-size: 48px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        gap: 7px;
    }

    .no {
        display: none;
    }

    .skills {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 70px;
    }

    .skill1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 45px;
    }

    .box3 {
        margin: 0;
        padding: 0;
        background-color: #000;
        padding-bottom: 80px;
    }

    .box3>h1 {
        padding-top: 80px;
        color: #fff;
        display: flex;
        justify-content: center;
        gap: 7px;
        font-size: 48px;
        font-weight: 600;
    }

    .exp {
        border: 2px solid gray;
        color: #fff;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        padding: 5px 50px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        margin: 30px 130px;
    }

    .exp:hover {
        transform: scale(1.07);
        transition: 0.5s;
        background-color: rgba(39, 39, 42, 1);
    }

    .exp h1 {
        font-size: 24px;
    }

    .exp1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .exp1 h2 {
        font-size: 18px;
    }

    .box4 {
        display: flex;
        justify-content: space-evenly;
        padding: 150px 80px;
        gap: 80px;
        align-items: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        width: 610px;
        line-height: 10px;
    }

    .about h1 {
        font-size: 48px;
        font-weight: 600;
    }

    .about span {
        font-weight: bolder;
    }

    .about p {
        font-weight: 400;
        font-size: 16px;
        color: rgba(113, 113, 122, 1);
        line-height: 24px;
    }

    .box5 {
        background-color: #000;
        background-color: 100%;
        padding: 0px 133px;
    }

    .box5>h1 {
        font-size: 48px;
        font-weight: 600;
        color: #fff;
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }

    .cell {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 110px;
        padding-bottom: 70px;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .text {
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    .box5>span {
        font-weight: bolder;
    }

    .text>h1 {
        font-size: 48px;
    }

    .text h2 {
        font-size: 32px;
    }

    .text p {
        font-size: 16px;
        color: rgba(113, 113, 122, 1);
    }

    .text img {
        width: 20px;
        height: 20px;
    }

    .box6>h1 {
        font-size: 48px;
        font-weight: 600;
        color: #000;
        display: flex;
        justify-content: center;
        gap: 7px;
        padding: 50px 0;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 100px 0;
        gap: 50px;
    }

    .card {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px black;
        padding: 60px 90px;
        text-align: center;
        border-radius: 20px;
        color: rgba(64, 64, 64, 1);
    }

    .card:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }

    .qora {
        color: rgba(255, 255, 255, 1);
        background-color: #000;
    }

    .card h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .card h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .card h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .chiziq {
        width: 120px;
        height: 4px;
        background-color: rgba(0, 0, 0, 1);
    }

    .chiziq-oq {
        background-color: #fff;
        width: 120px;
        height: 4px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
        align-items: center;
        padding: 0 100px;
        background-color: #000;
        color: #fff;
        margin-bottom: 0;
    }

    .footer h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .hvr:hover {
        transition: 0.5 ease;
        transform: scale(1.1);
    }

    .inputs {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 20px;
    }

    .input {
        padding: 10px;
        border: 2px solid black;
        border-radius: 4px;
    }

    .help {
        height: 140px;
        margin-bottom: 10px;
        padding-bottom: 0;
        border: 2px solid black;
        border-radius: 4px;
    }

    button:active {
        background-color: rgb(225, 76, 76);
    }

    .buttons2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;

    }

    .get {
        width: 175px;
        height: 56px;
        border: none;
        border-radius: 4px;
        align-items: center;
        color: #fff;
        background-color: #000;
        font-size: 18px;
        font-weight: 600;
    }

    .box7 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 80px;
    }

    .end {
        display: flex;
        flex-direction: column;
    }

    .end-text {
        width: 610px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .end-text h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 56px;
        margin: 0;
    }

    .end-text h2 {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        line-height: 32px;
    }

    .end-text p {
        color: rgba(113, 113, 122, 1);
        padding-right: 120px;
    }

    @media (max-width: 768px) {
        .menu {
            display: flex;
        }

        nav,
        #resume {
            display: none;
        }

        body {
            font-size: 14px;
            padding: 0;
            position: relative;
        }

        .box1 {
            flex-direction: column-reverse;
            text-align: center;
            gap: 20px;
        }

        .box1 h1 {
            line-height: 40px;
        }

        .buttons {
            display: flex;
            justify-content: center;
        }

        .asosiy {
            width: 100%;
            padding: 0 15px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
        }

        .rasm1 img {
            width: 100%;
            max-width: 350px;
            height: auto;
        }

        .skills {
            gap: 60px;
            padding: 50px;
        }

        .skill1 {
            display: inline-block;
            flex-direction: column-reverse;
            gap: 500px;
            justify-content: center;
            flex-wrap: nowrap;
            line-break: 50px;
        }

        .no {
            display: inline;
            width: 188px;
        }

        .skill-off {
            display: none;
        }

        .about {
            justify-content: center;
        }


        .exp {
            margin: 20px;
            padding: 15px;
        }


        .box4 {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }

        .box5 {
            background: #000;
            position: fixed;
        }


        .cell {
            flex-direction: column;
            gap: 20px;
            text-align: center;

        }


        .cell>img {
            min-width: 100%;
            min-height: 100%;
            justify-content: center;
        }

        .read img {
            width: 15px;
            height: 15px;
        }

        .cards {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        .card {
            width: 30%;
        }

        .box7 {
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            text-align: center;
        }

        .inputs {
            width: 100%;
        }

        .end-text {
            padding: 0;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            margin-left: 95px;
        }

        .footer {
            max-width: 100%;
        }

        .cell-img {
            width: 130%;
            height: 500px;
            justify-content: center;
        }
    }