*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(255, 0, 0, 0.263); */
}

/* @keyframes birinchiAnim {
    from {
        background-color: greenyellow;
    }

    to {
        background-color: gold;
    }
}
*/
body {
    width: 100%;
    background-color: rgba(47, 56, 37, 0.959);
    display: grid;
    place-items: center;
    height: 100vh;
}

/* .box {
    width: 100px;
    aspect-ratio: 1/2;
    background-color: aqua;
    animation: name duration timing-function delay iteration-count direction fill-mode;
} */
/* .call {
    width: 60px;
    aspect-ratio: 1/1;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.453);
    animation: puls 1s ease-in-out 1s infinite;
    animation-play-state: paused;
    cursor: pointer;
    color: white;
}

.call:hover {
    animation-play-state: running;
}

@keyframes puls {

    0%,
    100% {
        transform: scale(1.2);
        opacity: 1;
    }

    50% {
        opacity: .8;
        transform: scale(1);
    }
}

@keyframes aylanish {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 100px;
    aspect-ratio: 1/1;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    border-radius: 50%;
    animation: aylanish 1s linear infinite; */

/* }  */

/* @keyframes chapdan-o‘ngga {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(300px);
    opacity: 1;
  }
} */

/* .harakatlanuvchi {
    width: 80px;
    height: 80px;
    background-color: #e74c3c;
    border-radius: 8px;
    animation: chapdan-o‘ngga 2s ease-in-out 1s infinite alternate forwards;
    outline: 5px solid rgb(189, 186, 186);
} */

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* .fade-in-element {
    animation: fade-in 1s ease-in forwards;
} */

/* @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
} */

/* .bounce-button {
    padding: 12px 24px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    animation: bounce 2s infinite;
} */

/* .div-wrapper {
    position: relative;
    top: 250px;
    left: 40%;
}

.big {
    width: 120px;
    height: 120px;
    background-color: rgba(230, 227, 227, 0.659);
    animation: dinamik-animatsiya 2s ease-in-out infinite alternate;
    border-radius: 50%;
    position: relative;
    top: 50%;
    right: 0;
}

.med {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(246, 245, 245, 0.585);
    position: absolute;
    top: 14px;
    right: 13px;
}

.dinay-button {
    width: 60px;
    aspect-ratio: 1/1;
    background-color: white;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 40%;
    position: absolute;
    top: 15px;
    right: 15px;
}


@keyframes dinamik-animatsiya {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
} */
.div {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #e2f88ab9;
    border-radius: 50%;
    animation: puls 1s ease-in-out infinite;
}

.div2 {
    width: 80px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85a30b;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes puls {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1.05);

    }

    50% {
        opacity: .5;
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.15);

    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
