/* *{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
button{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px black;
    border: none;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    right: 10px;

}
#themeChange :last-child{
    display: none;
} */
 *, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 450px;
    margin: 100px auto;
    box-shadow: 0px 4px 10px black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
h2 {
    margin-bottom: 10px;
}
#list {
    list-style: none;
    margin-top: 20px;
    text-align: left;
}
.item {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}