*,
html {
    margin: 0;
    padding: 0;
}

.karta {
    width: 200px;
    height: 300px;
    background-color: aqua;
    margin-left: 100px;
    margin-top: 100px;
}


.karta img {
    width: 100%;
    height: 60%;
}

.karta h3 {
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}


.karta h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.karta button {
    background-color: purple;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}

.karta:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
}


.karta button:hover {
    opacity: 0.7;
}