*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: hsl(214, 17%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card1 card1 card2 card3"
    "card4 card5 card5 card3";
  gap: 30px;
  margin: 100px;
}

.card {
  padding: 30px;
  border-radius: 12px;
  line-height: 25px;
  display: grid;
}

.card-head {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1 / 1;
  }

  h4 {
    font-size: 14px;
    opacity: 0.9;
  }

  h5 {
    font-size: 12px;
    opacity: 0.5;
  }
}

.card1 {
  grid-area: card1;
  background-color: hsl(263, 55%, 52%);
  color: white;
  position: relative;

  > img {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 0;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    color: hsl(214, 17%, 92%);
  }
}

.card2 {
  grid-area: card2;
  background-color: hsl(217, 19%, 35%);
  color: white;

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    color: hsl(214, 17%, 92%);
  }
}

.card6 {
  grid-area: card3;
  background-color: white;
  color: hsl(219, 29%, 14%);

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: hsl(217, 19%, 35%);
  }

  p {
    font-size: 14px;
    color: hsl(217, 19%, 35%);
  }
}

.card4 {
  grid-area: card4;
  background-color: white;
  color: hsl(219, 29%, 14%);

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: hsl(217, 19%, 35%);
  }

  p {
    font-size: 14px;
    color: hsl(217, 19%, 35%);
  }
}

.card5 {
  grid-area: card5;
  background-color: hsl(219, 29%, 14%);
  color: white;

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    color: hsl(214, 17%, 92%);
  }
}

@media (max-width: 950px) {
  .container {
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
  }
  .card1 >img{
    display: none;
  }
}
