*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: gainsboro;
display: grid;
place-items: center;
width: 100vw;
height: 100vh;

}
.container{
    width: 90vw;
    height: 100vh;
    padding-left: 150px;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-template-rows: repeat(4,220px);
    gap: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
    }
}
.img1{
    grid-column: 1/-1;
    grid-row: 1/4;
}