* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

section {
    background-color: blue;
    border-radius: 15px;
    margin: 50px 400px;
}

.karta {
    width: 250px;
    height: 350px;
    background-color: white;
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
    
}

.karta img {
    width: 100%;
    margin-top: 15px;
    height: 50%;
}

.karta button {
    background-color: blue;
    color: white;
    width: 90%;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 11px;

}

.karta:hover {
    box-shadow: 0 0 20px black;
    /* transform: scale(1.01); */
}

.karta h5 {
    color: gray;
    text-decoration-line: line-through;
}

.karta h3:hover {
    color: blue;
}