body{
    background-color: rgb(154, 114, 114);
    margin: 0 auto;
    padding: 15px 500px;
}
section{
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}
.karta{
    width: 628px;
    height: 1017px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 80px;
}
#rasm{
    width: 816px;
    height: 1017px;
} 
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: center;
    width: 393px;
    height: 68px;
    border-radius: 36px;
    font-size: 24px;
    padding: 12px;
    gap: 10px 20px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    
}
.black{
    background-color: black;
    color: #fff;
    border: none;
}
.or{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-right: 50px;
    gap: 10px;
    margin-bottom: 25px;
}
.login img{
    display: flex;
    flex-direction: row;
    width: 20px;
}
#apple{
    width: 45px;
    height: 25px;
}
.divider{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 4px;
    width: 156px;
    margin-top: 10px;
} 
p{
    font-size: 18px;
    margin: 0px 80px;
    margin-bottom: 100px;
    padding: 10px;
}
a{
    color: black;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 1440px;
    height: 56px;
    background-color: #fff;

}
footer a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size:large;
    opacity: 0.9;
}
.text{
    display: flex;
    justify-content: left;
    align-self: flex-start center;
    text-align: left;
    font-size: 22px;
    margin-right: 150px;
    margin-bottom: 16px;
}
button{
    
}
button:hover{
    color: green;
    background-color: greenyellow;
}