body {
    background-color: #fdf6ec;
    margin: 20px 20px;
}

h1 {
    margin: 50px 0px 50px 500px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 250, 255,1 );
}

h2 {
    font-size: x-large;
    font-weight: 900;
}

#osh {
    background-color: rgb(246, 19, 49);
    color: rgba(0, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 50px;

}

#somsa {
    background-color: rgba(240, 100, 50);
    color: rgb(6, 232, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
    border-radius: 50px;
}

#lagmon {
    background-color: rgb(166, 43, 43);
    color: rgb(255, 115, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 50px;
}

img {

    padding: 20px 10px;
    margin-left: 50px;
    border-radius: 30px;
    border: 2px solid white;
}