*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 8px black;
}

.text h1{
    display: flex;
    font-size: 24px;
    font-weight: 900;
}
i{
    width: 80px;
    height: 30px;
    display: flex;
    font-size: 16px;
}
.box{
    box-shadow: 0 0 5px black;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}
input{
    width: 380px;
    padding-left: 10px; 
    height: 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px black;
    margin: 50px;
}
.box img{
    width: 100%;
    height: 50%;
}
.bold{
    font-weight: 900;
}
.text{
    padding: 10px;
    line-height: 30px;
}
.text span{
    font-weight: 600;
}
.text p{
    font-weight: 400;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 100px;
}