*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside content1 content1"
    "aside content2 content2"
    "footer footer footer"
    ;
}
header{
    grid-area: header;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
nav{
    grid-area: nav;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
aside{
    grid-area: aside;
    background-color: blue;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.content1{
    grid-area: content1;
    background-color: crimson;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    
}
.content2{
    grid-area: content2;
    background-color: tomato;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    
}
footer{
    grid-area: footer;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}
@media (max-width:700px) {
    body{
        grid-template-columns: 50px 1fr;
        grid-template-areas: 
        "header"
        "aside nav"
        "aside content1"
        "aside content2"
        "aside footer"

        ;
    }
}
/* .container{
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    grid-template-areas: 
    "item1 item2 item2 item3" 
    "item1 item4 item5 item6" 
    "item1 item7 item8 item6" 
    
    ;
    gap: 10px;
}
div{
    background-color: green;
    /* border: 2px solid black; */
    /* display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: 600; */
/* }
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
    background-color: chocolate;
}
.item5{
    grid-area: item5;
    background-color: red;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
    background-color: red;
}
.item8{
    background-color: chocolate;
    grid-area: item8;
} */ 