*, html{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 255, 255, 0.466);
    font-family: "Poppins", sans-serif;
}
h2{
    color: #fff;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
li{
    list-style-type:none;
    display: inline-block;
}
h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}
.text{
    width: 564px;
}
.text p{
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}
.menu{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 16px;
}
.menu-tugmacha{
    display: none;
    cursor: pointer;
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: black;
}
.tepa-quti{
    padding: 60px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000;
}
.pastgi-quti{
    padding: 60px 100px;
    background-color: white;
}
.quti{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.pastgi-quti h2{
    background-color: rgba(30, 30, 30, 1);
    width: 240px ;
    text-align: center;
    padding: 10px;
    color: white;
    border: 7px solid rgba(1, 255, 251, 1) ;
    font-size: 28px;
    border-bottom-right-radius:30px ;
    border-top-left-radius:30px ;
    margin-bottom: 100px;
    margin-left: 60px;

}
.about-text{
    background-color: rgba(30, 30, 30, 1);
    width: 636px ;
    font-weight: 400;
    padding: 10px;
    color: white;
    border: 7px solid rgba(1, 255, 251, 1) ;
    font-size: 16px;
    border-bottom-right-radius:30px ;
    border-top-left-radius:30px ;
    padding: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}


h3{
    color:rgba(1, 255, 251, 1) ;
    font-size: 36px;
    text-align: left;
}
.blue{
    color: rgba(1, 255, 251, 1);
}