body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    background-color: yellow;
}
#box{
    width: 440px;
    height: 50vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 15px 15px 20px black;
}
input{
    width: 400px;
    height: 7vh;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    border: none;
    text-align: center;
}
button{
    width: 400px;
    height: 8vh;
    color: white;
    background-color: hsl(84, 100%, 10%);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 750;
}
button:hover{
    scale: 1.07;
}
button:active{
    background-color:hsl(84, 100%, 50%);
}
p{
    color: green;
    margin-left: 300px;
    text-align: right;
}
h1{
    color: black;
    font-size: 34px;
}
img{
    width: 100%;
    height: 100vh;
    display: none ;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
    .flash {
        animation: flashAnim 0.2s ease-in-out 3;
    }

    @keyframes flashAnim {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
