*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    max-width: 100vw;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
.links{
    align-items: center;
    display: flex;
    gap: 15px;
}
nav{
    display: flex;
    gap: 20px;
}
.btns{
    display: flex;
    gap: 5px;
}
.btn{
    height: 3rem;
    width: 7rem;
    gap: 10px;
    font-size: 15px;
    background-color: rgb(87, 84, 69);
    border-radius: 6px;    
    color: white;
    border: none;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.link{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 5px 7px;
    padding-bottom: 0;
    &:hover{
        text-decoration: underline 3px rgba(0, 0, 0, 0.752);
        background-color: gainsboro;
    }
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("./IMAGE\ \(1\).png");
    background-position: center;
    background-size: cover;
}