*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    background-color: black;
}
.header{
    display: flex;
    background-color: rgb(18, 18, 18);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    &__link{
        text-decoration: none;
        color: white;
    }
}