*{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: hsl(206, 90%, 60%);
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 22vh;
    width: 1400px;
    border-radius: 15px;
    background-color: hsl(201, 100%, 95%);
    box-shadow: 0 2px 10px hsl(0, 0%, 47%);
}
#header h1{
    font-size: 38px;
    font-weight: 600;
    padding-top: 10px;
    opacity: 0.8;
}
#header h3{
    font-weight: 400;
    padding: 20px;
}
#box1{
    width: 800px;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
}
.shaxsiy{
    width: 700px;
    height:5vh;
    background-color: hsl(215, 100%, 95%);
    margin: 5px;
    padding: 8px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    box-shadow: -5px 0 3px hsl(215, 100%, 70%);
    font-weight: 600;
}


span{
    font-weight: normal;
}

.card {
    margin-top: 30px;
    width: 760px;
    height: 45vh;
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.game-item {
    width: 200px;
    background: #ffe6a1;
    box-shadow: -5px 0 3px gold;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 18px;
}
#gameList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
.btn {
    background: linear-gradient(to right,  #3399ff );
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    border-radius: 30px;
}
#add{
    padding-top: 50px;
}
.cardLast{
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#tugmalar{
    padding-top: 30px;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.cardAdd{
    height: fit-content;
}