:root{
    --main-bgCl:hsl(179, 62%, 43%);
    --sec-bgCl:rgb(94, 201, 201);
    --btnCl:hsl(71, 73%, 54%);
    --bg:hsl(204, 43%, 93%);
}
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--bg);
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-areas: 
    "hero hero"
    "bottom-left bottom-right"
    ;
}
.hero{
    grid-area: hero;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px 80px;
    display: grid;
    gap: 10px;
    h1{
        color: var(--main-bgCl);
        margin-bottom: 10px;
    }
    h3{
        color: var(--btnCl);
    }
    p{
        width: 80%;
        color: gray;
        font-size: 16px;
        font-size: 16px;
    }
}
.bottom-left{
    display: grid;
    gap: 20px;
    grid-area: bottom-left;
    background-color: var(--main-bgCl);
    padding: 30px;
    border-bottom-left-radius: 10px;
    color: var(--bg);
    padding-left: 70px;
    h2{
        font-size: 30px;
    }
    span{
        font-size: 16px;
        color: var(--bg);
    }
    button{
        background-color: var(--btnCl);
        width: 80%;
        font-size: 16px;
        border: none;
        border-radius: 7px;
        padding: 10px 0;
        color: white;
        font-weight: 700;
        &:hover{
            opacity: .8;

        }
        &:active{
            opacity: 1;
        }
    }
}
.bottom-right{
    padding: 50px 0px;
    padding-left: 50px;
    grid-area: bottom-right;
    border-bottom-right-radius: 10px;
    background-color: var(--sec-bgCl);
    color: white;
    h3{
        margin-bottom: 20px;
    }
    p{
        width: 60%;
        color: var(--bg);
        font-size: 16px;
        line-height: 25px;
    }
}
@media (max-width:768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "hero"
        "bottom-left"
        "bottom-right"
        ;
        margin: 30px;
        line-height: 30px;
    }
    .hero{
        width: 100%;
        padding: 10px 20px;
        place-items: start;
        padding-left: 15%;
        h1{
            margin-top: 10px;
        }
    }
    .bottom-left{
        width: 100%;
        border-radius: 0;
        padding-left: 15%;
        button{
            width: 100%;
        }
    }
    .bottom-right{
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}