body{
    margin: 0;
    padding: 0;
}
.footer4{
    background-color: rgba(255, 255, 255, 1);
    font-family: "Source Sans 3", sans-serif;
}
.footerMain{
    padding-top: 60px;
    background-color: white ;
    display: block;
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-family: "Source Sans 3", sans-serif;
    line-height: 40px;
}
.footerMain h1{
    font-size: 36px;
    font-weight: 600;
}
.footerMain h3{
    font-size: 24px;
    font-weight: 390;
    color: rgb(72, 72, 72);
}
.input4{
    width: 330px;
    height: 55px;
    align-items: center;
    border:none;
    box-shadow: 0 0 1.5px gray;
    border-radius: 165px;
    font-size: 18px;
}
.btn4{
    width: 170px;
    height: 55px;
    align-items: center;
    background-color: rgba(100, 187, 71, 1);
    border: none;
    border-radius: 165px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.btn4:active{
    background-color: greenyellow;
    border: none;
}
.buttons4{
    gap: 50px;
}
.footerBelow{
    background-color: rgba(252, 252, 252, 1);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 150px;
    padding-top: 60px;
    padding-bottom: 100px;
}
.contact{
    align-items: start;
}
.contact h2{
    color: rgba(44, 56, 71, 1);
    font-size: 20px;
    font-weight: 550;
}
.contact p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(101, 117, 130, 1);
}
.footerBottom{
    width: 100%;
    height: 50px;
    background-color: rgba(100, 187, 71, 1);
    color: white;
    padding-bottom: 10px;
    justify-items: center;
    align-content: center;
}