* {
    padding: 10px;
    margin: 10px 10px;
    text-decoration: none;
}

body {
    background-color: #ff4;


}

ul {
    display: inline-block;
    list-style-type: none;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#div {
    background-color: aqua;
    color: rgb(100, 200, 100);
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 15px 15px;
    padding: 20px 20px;
    text-align: center;

}