*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ff0000;
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgba(0, 0, 0, 1) 40%,  rgba(0, 0, 0, 1) 60%, rgb(0, 213, 255) 100%);

}
.container{
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.986);
    backdrop-filter: blur(10px);
    color: white;
    padding:40px 0;
    border-radius: 20px;
    
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
    h1{
        font-size: 36px;
          font-family: "Orbitron", sans-serif;
          font-weight: 400;
    }
    p{
        font-size: 22px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 35%;
        color: rgb(165, 165, 165);
    }
}
.imgs{
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: auto;
 grid-template-areas: 
 "rasm1 rasm1 rasm2 rasm2 rasm3 rasm3"
 "rasm4 rasm4 rasm4 rasm5 rasm5 rasm5"
 ;
 gap: 15px;
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
 }
}
.img1{
    grid-area: rasm1;
}
.img2{
    grid-area: rasm2;
}
.img3{
    grid-area: rasm3;
}
.img4{
    grid-area: rasm4;
}
.img5{
    grid-area: rasm5;
}