*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(3, 117, 180);
    border-radius: 15px;
}
body::-webkit-scrollbar {
    background-color: #ffb5148c;
    border-radius: 4px;
    width: 8px;
    border: none;
}


.logo {
    width: 112px;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1.5px solid gray;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.47);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu button {
    font-size: 26px;
    background-color: transparent;
    border: none;
    

    &:hover {
        background-color: gainsboro;
    }

    /* border-radius: 12px; */
    /* corner-shape: superellipse(); */
    /* corner-shape: squircle; */
}

.menu button:first-child {
    rotate: 90deg;

}


.header-nav {
    display: none;
}

.hero {
    max-width: 100%;
    padding: 0 20px;
}

.hero img {
    width: 100%;
    margin-top: 2rem;
}

.hero-content {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 45px;
        font-weight: 800;
        align-self: center;
        margin: 10px 0;
    }


    p {
        margin: 10px 0;
    }

}

.span1 {
    background: linear-gradient(to bottom, rgba(2, 79, 119, 1), rgba(41, 164, 226, 1));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
}

.span2 {
    color: rgba(255, 181, 20, 1);
}

.hero-content button {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    background: linear-gradient(135deg, rgb(0, 51, 72), rgb(0, 124, 215), rgb(56, 182, 255));
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px;
    

}

.hero-content >button:hover {
    background: linear-gradient(135deg, #ffb514, #ffd36a);
}

.stats {
    padding: 30px 20px 70px;
}

.stats-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.stat-card {
    background-color: #f3f4f6;
    padding: 30px 22px;
    border: 2px solid #0f172ac7;
    border-top-color: #1ea0ff;
    border-right-color: #1ea0ff;
    border-radius: 14px;
}

.stat-number {
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    color: #0b6ea8;
    background: linear-gradient(to bottom, rgba(2, 79, 119, 1), rgba(41, 164, 226, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 14px;
}

.stat-text {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}


.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 40px rgba(15, 23, 42, 0.16);
    border-color: #ffb514;
}

.stat-card:hover .stat-number {
    background: linear-gradient(135deg, #ffb514, #ffd36a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;

    h2 {
        font-size: clamp(36px, 5vw, 57px);
        margin-bottom: 40px;
        width: 100%;
        text-align: center;
        font-weight: 800;
        margin-bottom: 60px;
    }

    h3 {
        font-size: clamp(40px, 7vw, 32px);
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        margin-top: 20px;
        font-size: clamp(18px, 5vw, 20px);
        line-height: 1.6;
        text-align: left;

    }
}

.divcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    img {
        width: 300px;
        height: auto;
    }
}


@media (min-width:1024px) {
    header {
        padding: 20px 80px;
        align-items: center;
    }

    .header-nav {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .header>img {
        width: 200px;
        height: auto;
    }

    .header-nav a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: 600;
    }

    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .hero> img {
        width: auto;
        aspect-ratio: 1/1;
    }

    .hero-content {
        padding-left: 50px;
        align-items: center;

        h1 {
            font-size: 83px;
            margin: 150px 0 10px 0;
            width: 80%;
        }

        p {
            margin-bottom: 80px;
            font-size: 1.3rem;
        }

        button {
            width: 35%;
            height: 3.7rem;
        }

    }

    .stats {
        padding: 70px 80px 120px;
    }

    .stats-container {
        gap: 90px;
    }

    .stat-card {
        padding: 30px 20px;
        width: 18rem;
    }

    .stat-number {
        font-size: 64px;
    }

    .stat-text {
        font-size: 30px;
    }

    .why {
        padding: 80px 80px;
        .h2{
            font-size: clamp(44px, 4vw, 54px);
            margin-bottom: 60px;
            width: 60%;
        }

    }
    .divcha {
        flex-direction: row;
        gap: 80px;        
    }
    .div2 {
        max-width: 1200px;
        h3{
            font-size: clamp(40px, 4vw, 60px);
            text-align: left;
    
        }
    }
    .divcha >img{
        width: 600px;
        height: auto;
    }
}
